<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="Entrar" color="secondary" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Esqueceu sua senha?</ion-text>
      </h1>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="light">Resete sua senha.</ion-text>

      </p>
    </div>

    <form class="form-default" [formGroup]="reset_form">
      <ion-item color="dark" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          E-MAIL
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" size="large" color="secondary" class="ion-margin-top" routerLink="/signin">
        Resetar senha
      </ion-button>
    </form>


  </div>

</ion-content>
