:host {
  body {
    --background: linear-gradient(90deg, rgba(181,177,241,1) 13%, rgba(70,70,148,1) 100%, rgba(0,212,255,1) 100%);
  }

  ion-content {
    --background: linear-gradient(90deg, rgba(181,177,241,1) 13%, rgba(70,70,148,1) 100%, rgba(0,212,255,1) 100%);
  }


  ion-item {
    --border-radius: 8px;
    margin-bottom: 8px;
  }

  .logo-container {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 800;
    }

    p {
      margin-bottom: 42px;
    }
  }
}
