<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">


    <ng-template swiperSlide>

      <img src="../../../../assets/logo.png">

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="black">MassBuyers</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="dark">Marketplace regional com foco em micro, pequenas e médias empresas</ion-text>
      </p>
    </ng-template>
  </swiper>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()" *ngIf="last_slide">
    Iniciar
  </ion-button>
</ion-footer>
